!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.4.2.js')
    script(type='text/javascript', src='/javascripts/jquery.console.js')
    script(type='text/javascript', src='/javascripts/jquery.base64.js')
    script(type='text/javascript', src='/javascripts/underscore.js')
    script(type='text/javascript', src='/javascripts/console.js')
  body!= body
